extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")

            .col-md-7.mt-5.mt-md-0 
                h1 #{pagina}
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, distinctio non at eius ipsa totam explicabo quisquam dignissimos iusto doloribus, sequi beatae id quas expedita eligendi. Mollitia hic, asperiores explicabo vero sunt, molestias blanditiis facere maiores, magnam quia saepe corporis excepturi quaerat veritatis tenetur minima perspiciatis iure. Saepe, ex quidem.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quam molestiae eius maxime natus quasi aliquid perspiciatis deserunt ea tenetur sequi explicabo obcaecati, consequatur tempore, voluptatem repellat ex! Officiis, necessitatibus.

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora consectetur beatae dolorum porro quas quisquam laboriosam voluptatibus tempore, consequatur dicta minima expedita nostrum quam explicabo? Repudiandae aut praesentium rem nisi!

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae hic atque placeat fuga repudiandae ut natus, expedita labore impedit veritatis.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae hic atque placeat fuga repudiandae ut natus, expedita labore impedit veritatis.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precio 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae hic atque placeat fuga repudiandae ut natus, expedita labore impedit veritatis.